@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

nav{
    
    background:#287bba;
    color: white;
    display: flex;
    justify-content: right;
    
}

nav .mainMenu{
    display: flex;
    line-height: 60px;
    list-style: none;
    font-size: 12px;
    
    

}

nav .mainMenu li a{
    display: inline-block;
    line-height: 60px;
    padding: 15px 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
    font-weight: bold;
}

nav .mainMenu li a:hover{
    text-decoration: underline;
}

nav .openMenu{
    font-size: 2.5rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}

nav .mainMenu .closeMenu , i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}




/* Main */
.main {
    width: 100%;
    text-align: center;
    margin-bottom: 200px;
}

.title{
    padding-top: 60px;
    padding-left: 40px;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
}

.main p{
    padding-left: 40px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    
}

.main a{
    background: #21A6CE;
    border: none;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    color: white;
}

.main a:hover {
    background-color: #287bba;
}

/* Projects Section */


.projects {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

}

.projects h1{
    margin-bottom: 40px;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    
    
}

.project{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    padding: 10px 15px;
}

.project a{
    background: #21A6CE;
    border: none;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    color: white;
    
}

.project a:hover{
    background:#287bba;
}

.project img{
    width: 340px;
    padding-right: 13px;

}

.project p{
    color:#287bba;
    font-weight: bold;
}

.project h4{
    color: #21A6CE;
    margin-bottom: 35px;
}

.project-container .project {
    border: 3px solid #21A6CE;
    background-color:rgb(255, 255, 255);
    text-align: center;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 5px 5px;
}

.project-container .project:hover{
    box-shadow: 8px 8px 5px rgba(0,0,0, .2);
}

/* Project Icons */


.icon-container{
    display: inline-block;
    flex-wrap: wrap;
    
    padding: 30px 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}


#icon {
    width: 190px;
    box-shadow: 0px 4px 0px rgba(238, 59, 5, 0.808);
    border-radius: 50px;
    padding: 30px 30px;
    margin-left: 155px;
    
}

#icon2 {
    width: 190px;
    box-shadow: 0px 4px 0px rgba(5, 172, 238, 0.808);
    border-radius: 50px;
    padding: 30px 30px;
}
#icon3 {
    width: 190px;
    box-shadow: 0px 4px 0px rgba(209, 212, 0, 0.808);
    border-radius: 50px;
    padding: 30px 30px;
}
#icon4 {
    width: 190px;
    box-shadow: 0px 4px 0px rgba(78, 78, 78, 0.808);
    border-radius: 50px;
    padding: 30px 30px;
    
}
#icon5 {
    width: 190px;
    box-shadow: 0px 4px 0px rgba(5, 53, 141, 0.808);
    border-radius: 50px;
    padding: 30px 30px;
}

#icon6 {
    width: 190px;
    box-shadow: 0px 4px 0px rgba(96, 197, 56, 0.808);
    border-radius: 50px;
    padding: 30px 30px;
}

#icon:hover{
    background-color: rgb(236, 236, 236); 
}
#icon2:hover{
    background-color: rgb(236, 236, 236); 
}
#icon3:hover{
    background-color: rgb(236, 236, 236); 
}
#icon4:hover{
    background-color: rgb(201, 201, 201); 
}
#icon5:hover{
    background-color: rgb(236, 236, 236); 
}
#icon6:hover{
    background-color: rgb(236, 236, 236); 
}



/*  Experience and Developer Process Icons Section */

.experience p{
    font-size: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}



.process{
    width: 100%;
    
}

.pro-container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
}

.process .pro-container .pro{
    border: 3px solid #287bba;
    border-radius: 6px;
    padding: 5px 10px;
    margin: 10px 20px;
    color: #21A6CE;
}

.process .pro-container .pro:hover{
    box-shadow: 2px 2px 4px #287bbae0;
}

.process .pro-container .pro img{
    width: 150px;
}



/* About Section */


.about{
    text-align: center;
}

.about h1{
    font-size: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

.about p{
    font-size: 17px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 10px 100px;
    margin-bottom: 40px;
    
    
}

.contact{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #21A6CE;
    height: 500px;
    padding: 20px 20px;
    width: 100%;
    display: inline-block;
    flex-wrap: wrap;
}

.contact .name{
    
    padding: 20px 20px;
}



.form-container{
    background-color:#525252;
    width: 450px;
    height: 350px;
    border: 2px solid #525252;
    border-radius: 8px;
    display: inline-block;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 40px 40px;
    color: white;
    font-family: 'Roboto', sans-serif;
    box-shadow: 2px 16px 10px rgba(78, 78, 78, 0.608);


}

.form-container h1{
    font-size: 20px;
    float: left;
    color: #1BF7F7;
}

form .message{
    height: 100px;
}

form input{
    float: left;
    background-color:#525252;
    color: white;
    border: none;
    border-bottom: 3px solid rgb(92, 92, 92);
    padding: 20px 20px;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    width: 370px;
}

.form-container button{
    background-color: #525252;
    color: #1BF7F7;
    padding: 30px 25px;
    position: relative;
   
    
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.form-container button:hover{
    color:#FFF;
    cursor: pointer;
}


.prefooter{
    background-color: #FFF;
    height: 161px;
    text-align: center;
    padding: 80px 20px;
    font-family: 'Roboto', sans-serif;
}

.html{
    color: orange;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding: 5px 5px;
}

.css{
    color:#21A6CE;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding: 5px 5px;
}

.js{
    color:#e2d515;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding: 5px 5px;
}

.footer{
    height: 100px;
    width: 100%;
    background-color: #287bba;
    font-family: 'Roboto', sans-serif;
}



@media(max-width: 800px){
    nav .mainMenu{
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: black;
        transition: top 1s ease;
        display: none;
    }

    nav .mainMenu .closeMenu{
        display: block;
        position: absolute;
        top: 0;
        right: 0;


    }

    nav .openMenu{
            display: block;
    }

    nav .mainMenu li a:hover {
        color:#1BF7F7;
    }

    .mainMenu i {
        display: inline-block;
        padding: 12px;
        
    }

    .contact .form-container{
        width: 300px;
        
    
    }

    .form-container button{
        top: 200px;
        display: inline-flex;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        
    }

    form input{
        width: 200px;
    }


    
    
}